@extends('layout_principal')


@section('extra_scriptHead')

    <!-- Bootstrap Bootstrap-select Pluging CSS -->
    <link rel="stylesheet" href="{{asset('/bootstrap/bootstrap-select/css/bootstrap-select.css')}}">
    <!-- Bootstrap Bootstrap-select Pluging JS -->
    <script src="{{url('/bootstrap/bootstrap-select/js/bootstrap-select.js')}}"></script>

    <link rel="stylesheet" href="{{asset('jquery.flexdatalist/jquery.flexdatalist.css')}}">
    <!-- JQuery UI Pluging CSS -->
    <link rel="stylesheet" href="{{ asset('jquery.ui/jquery-ui.min.css')}}">

    <script src="{{ asset('jquery.ui/jquery-ui.min.js')}}"></script>
	
	<script>
	function hidden_control(valor)
	{
	
		var elem = document.getElementById('empresa_natural');
		if(valor==1)
		{
			elem.style.visibility='hidden';
		}
			if(valor==2)
		{
			elem.style.visibility='visible';
		}
	}
	function isClient (valor)
	{
		var elem = document.getElementById('es_cliente');
		  // Get the checkbox
		var checkBox = document.getElementById("chk_cliente");
		if (checkBox.checked == true){
		elem.style.visibility='visible';
		} else {
		elem.style.visibility='hidden';
		}
	
	
		
	}
	</script>
@endsection

@section('page_title')
    Nueva cliente/proveedor
@endsection



@section('container')

    <div class="col-md-10 col-md-offset-1">
        <div class="row-sm">
            <div class="panel">

                <div class="panel-heading">
                    <h3>Nuevo cliente/proveedor</h3>
                </div>

                {!! Form::open( ['route' => ['admin.provider.store'], 'method' => 'POST']) !!}

                <div class="col-md-12">

                    <a href="{!! route('admin.provider.index') !!}" class="btn pull-right">
                        <i class="material-icons md-18">list</i> Ir a la lista
                    </a>

                    <button type="reset" class="btn btn-default btn-sm mdb">Cancelar
                    </button>

                    <button type="submit" class="btn btn-primary mdb">
                        <i class="material-icons md-18">save</i> Guardar
                    </button>

                </div>

                <div class="panel-body">
				</br>
				</br></br>
				</br>
                  	<form id="form_create" method="POST"  action="{{action('UserController@init')}}"  onsubmit="return validar(this);">
		{{ csrf_field() }}
	<div class="form-row">
<div class="form-group col-md-12">
   <div class="form-group col-md-3">
	<div class="custom-control custom-radio custom-control-inline">
	<!--<input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample"  checked="checked"  onchange="hidden_control(2);" > -->
	{!! Form::label('result', 'Persona Natural', ['class' => 'custom-control-label']) !!}
	<!--<label class="custom-control-label" for="defaultInline1">Persona Natural</label> -->
	{!! Form::radio('result', 'buy' , true,['onchange' => 'hidden_control(2);']) !!}
	
	</div>
</div>
<div class="form-group col-md-3">
	<div class="custom-control custom-radio custom-control-inline">
	<!--<input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample" onchange="hidden_control(1);">
	<label class="custom-control-label" for="defaultInline2">Persona Juridica</label> -->
	{!! Form::label('result', 'Persona Juridica', ['class' => 'custom-control-label']) !!}

	{!! Form::radio('result', 'buy' , true,['onchange' => 'hidden_control(1);']) !!}
	</div>

</div>
	<div class="form-group col-md-2">

	<label for="inputCity">Activo</label>
      <div class="togglebutton">
	  
		<label>
		<input type="checkbox" id="chk_active" name="chk_active" checked="checked">
		</label>
		</div>
	</div>
	
</div>	
    <div class="form-group col-md-12">
      <label for="txt_usuario">Nombre</label>
      <input type="text" class="form-control" id="txt_usuario" name="txt_usuario" placeholder="US0000" >
    </div>

<div class="form-group col-md-12" id='empresa_natural'>

      <label for="txt_rol">Empresa</label>
      <select class="selectpicker" data-live-search="true">
  <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
  <option data-tokens="mustard">Burger, Shake and a Smile</option>
  <option data-tokens="frosting">Sugar, Spice and all things nice</option>
</select>

  </div>	
	
	<hr/>

	   <div class="form-group col-md-6">
      <label for="inputPassword4">Direccion 1</label>
      <input type="text" class="form-control" id="txt_direccion" name="txt_direccion" placeholder="1234 Main St">
    </div>
	   <div class="form-group col-md-6">
      <label for="inputPassword4">Direccion 2</label>
      <input type="text" class="form-control" id="txt_direccion" name="txt_direccion" placeholder="1234 Main St">
    </div>
	
	
	
	
	
	
	
	

	
	
	
    <div class="form-group col-md-4">
      <label for="txt_rol">Pais</label>
		<select class="selectpicker" data-live-search="true">
	<option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
	<option data-tokens="mustard">Burger, Shake and a Smile</option>
	<option data-tokens="frosting">Sugar, Spice and all things nice</option>
		</select>
    </div>
    <div class="form-group col-md-4">
      <label for="txt_usuario">Estado</label>
      <input type="text" class="form-control" id="txt_usuario" name="txt_usuario" placeholder="US0000" >
    </div>
  </div>
	<div class="form-row">
    <div class="form-group col-md-2">
      <label for="inputEmail4">Codigo postal</label>
      <input type="email" class="form-control" id="txt_email" name="txt_email" placeholder="Email">
    </div>
     <div class="form-group col-md-2">
      <label for="inputEmail4">Telefono</label>
      <input type="phone" class="form-control" id="txt_telefono" name="txt_telefono" placeholder="Telefono">
    </div>
	</div>
		<div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputPassword4">Ruc</label>
      <input type="text" class="form-control" id="txt_direccion" name="txt_direccion" placeholder="0-000-00">
    </div>
    <div class="form-group col-md-4">
      <label for="inputPassword4">Email</label>
      <input type="text" class="form-control" id="txt_direccion" name="txt_direccion" placeholder="Ej: test@123.com">
    </div>
	<div class="form-group col-md-4">
      <label for="inputPassword4">Pagina weg</label>
      <input type="text" class="form-control" id="txt_direccion" name="txt_direccion" placeholder="Ej: www.google.com">
    </div>
	</div>


	
	<!--               AREA DE TAB           ----------------------------------------------------------------------------------------->
	
	<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Contactos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="notas-tab" data-toggle="tab" href="#notas" role="tab" aria-controls="notas" aria-selected="false">Notas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="sales_purchase" data-toggle="tab" href="#sales_purchases" role="tab" aria-controls="sales_purchases" aria-selected="false">Ventas y Facturas</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
   <div class="col-md-12">

        <button type="submit" class="btn btn-primary mdb">
         <i class="material-icons md-18">save</i> Agregar
        </button>

    </div>
  
  
  </div>
    <!--               NOTAS                  -------------->
  <div class="tab-pane fade" id="notas" role="tabpanel" aria-labelledby="notas-tab">
  
  <div class="md-form">
  <i class="material-icons">
	speaker_notes</i>
  <textarea id="form10" class="md-textarea form-control" rows="3"></textarea>
  
</div>
  
  </div>
  
  
  
  <!--               VENTAS Facturas-------------->
  <div class="tab-pane fade" id="sales_purchases" role="tabpanel" aria-labelledby="sales_purchase">
	<div class="form-row">

	<div class="form-group col-md-12" >
	<div class="form-group col-md-9" >
	<label class="custom-control-label" for="defaultInline2"><h3>Ventas</h3></label>
	<div class="custom-control custom-checkbox">
	<input type="checkbox" class="custom-control-input" id="chk_cliente" onchange="isClient(true);">
	<label class="custom-control-label" for="chk_cliente">Es cliente</label>
	</div>
	</div>	
	

	<div class="form-group col-md-3">
	<label class="custom-control-label" for="defaultInline2"><h3>Compras</h3></label>
	<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="chk_proveedor">
  <label class="custom-control-label" for="chk_proveedor">Es proveedor</label>
	</div>
	</div>	
	</div>
	</div>
	<div class="form-row" id="es_cliente" style="visibility:hidden;">
	   <div class="form-group col-md-4">
      <label for="txt_rol">Sucursal</label>
	
	<select class="selectpicker" data-live-search="true">
	<option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
	<option data-tokens="frosting"> Crear nueva</option>
	</select>
	</div >

	
	<div class="form-group col-md-4">
	 <a href="" class="btn pull-right"><i class="material-icons"> add_circle_outline</i>Crear sucursal</a>
	</div>

	<div class="form-group col-md-4">

	<a href="" class="btn pull-right"><i class="material-icons"> edit</i>Editar sucursal</a></div>
	</div >
	<div class="form-row">
	<br/>
	 <div class="form-group col-md-12">
      <label for="txt_usuario">Referencia</label>
      <input type="text" class="form-control" id="txt_referencia" name="txt_referencia" placeholder="0000000000" >
    </div>
    </div>
	 </div>
	</div>
  </div>
</div>
	<!--               AREA DE TAB           ----------------------------------------------------------------------------------------->
	



</form>
                </div>
                <!-- .panel-body -->

                {!! Form::close() !!}
            </div>
            <!-- .panel -->
        </div>
        <!-- .row-sm -->
    </div>
    <!-- .col offset-->

@endsection

@section('extra_scriptBody')

    <script src="{{ asset('jquery.flexdatalist/jquery.flexdatalist.js') }}"></script>
@endsection