



/*Dimenciones del contenedor Padre*/

$width-container-preview: 170px;
$height-container-preview: $width-container-preview;
$fondo: #fff;
$border-color: #ccc;

.__image_container-preview {
	width: $width-container-preview;
	height: $height-container-preview;
	position: relative;
}


/*Boton Cargar`...*/

.img-remove {
	&:after {
		position: absolute;
		font-family:  'Glyphicons Halflings';
		top: -10px;
		right: -10px;
		width: 30px;
		height: 30px;
		content: "\e014";
		font-size:  20px;
		text-align: center;
		line-height: 30px;
		background-color: red;
		color: #fff;
		border-radius: 50%;
		cursor: pointer;
		opacity: 0.8;
		transition: all .2s;
	}
	&:hover {
		&:after {
			box-shadow: 0 0 3px rgba(#000, .5);
			opacity: 1;
		}
	}
	&:active {
		transform: scale(.98);
	}
}




.__img-preview {
	
	box-shadow: 0 0 0 8px $fondo inset, 0 0 0 10px transparent inset;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-color: white !important;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 4em;
	color: $border-color;

	&, .img-remove {
	position: absolute;
		height: $height-container-preview;
		width: $width-container-preview;
	}

	& > span, & > i{
		font-size: 1.1em;
		transition: all .2s;
	}

	&:after {
		content: '';
		width: $width-container-preview + 8;
		height: $height-container-preview + 8;
		position: absolute;
		z-index: -1;
		top: -4px;
		left: -4px;
		background: linear-gradient( to right, transparent 30px, $fondo 30px, $fondo ($width-container-preview + 8) - 30, transparent ($width-container-preview + 8) - 30), linear-gradient( $border-color 30px, transparent 30px, transparent ($width-container-preview + 8) - 30, $border-color ($width-container-preview + 8) - 30);
	}

	&:hover {
		& > span, & > i {
			font-size: 1.4em;
			color: darken( $border-color, 40);
		}
	}

	img{
		box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
	}

}


/*PRELOADERS LOAD ROTATE*/

.load-rotate {
	display: none;
	position: absolute;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 1.5em;

	span{
		-webkit-animation: rotar 1s linear infinite;
		animation: rotar 1s linear infinite;
		color: $border-color;
	}
}

@keyframes rotar {
	to {
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}


.load{
	position: fixed;
	z-index: 999999;
	background-color: rgba(0,128,128,.95);
	width: 100%;
	min-height: 100vh;
	font-size: 4em;

	&:before{
		content: 'hola';
		color: #000
	}
	&:after{
		font-size: 1em;
		font-family:  'Glyphicons Halflings';
		content: '\e031';
        // background-color: yellow;
        border-radius: 50%;
        line-height: 1em;
        color: white;

        width: 1em;
        height: 1em;
        margin: auto;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        animation: rotar 1s linear infinite;
    }
}








.sk-folding-cube {
	margin: 20px auto;
	width: 40px;
	height: 40px;
	position: relative;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #333;
	-webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
	animation: sk-foldCubeAngle 2.4s infinite linear both;
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
	-webkit-transform: scale(1.1) rotateZ(90deg);
	transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
	-webkit-transform: scale(1.1) rotateZ(180deg);
	transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
	-webkit-transform: scale(1.1) rotateZ(270deg);
	transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
	0%, 10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0; 
		} 25%, 75% {
			-webkit-transform: perspective(140px) rotateX(0deg);
			transform: perspective(140px) rotateX(0deg);
			opacity: 1; 
			} 90%, 100% {
				-webkit-transform: perspective(140px) rotateY(180deg);
				transform: perspective(140px) rotateY(180deg);
				opacity: 0; 
			} 
		}

		@keyframes sk-foldCubeAngle {
			0%, 10% {
				-webkit-transform: perspective(140px) rotateX(-180deg);
				transform: perspective(140px) rotateX(-180deg);
				opacity: 0; 
				} 25%, 75% {
					-webkit-transform: perspective(140px) rotateX(0deg);
					transform: perspective(140px) rotateX(0deg);
					opacity: 1; 
					} 90%, 100% {
						-webkit-transform: perspective(140px) rotateY(180deg);
						transform: perspective(140px) rotateY(180deg);
						opacity: 0; 
					}
				}