/**********************************
* MENU MENU
***********************************/
// @import url(https://fonts.googleapis.com/css?family=Lato);
@import url('https://fonts.googleapis.com/css?family=Roboto');

$height-menu: 60px;
$width-sidebar-menu: 220px;
$height-sidebar-menu-item: $height-menu;
$background-color-menu: $color-menu-movistar;
$color-text-menu: $color-text-menu-movistar;

.menu-main {
  * {
    //font-weight: 500;
    //font-size: 14px;
    //color: $color-text-menu;
  }

  background-color: $background-color-menu;
  font-family: 'Roboto', sans-serif;
  // border-bottom: 1px solid $color4;
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 25;

  &, ul {

    // background: $color2;
    color: $color3;
    line-height: $height-menu;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      a {
        cursor: pointer;
        display: block;
        height: 100%;
        text-decoration: none;
      }
    }
  }
}

.menu-main > li {
  font-weight: 500;
  float: left;
  height: 100%;
  text-align: center;
  //list-style: none;
  &:first-child {
    position: relative;
    width: 60px;
  }
  &:last-child {
    border-right: none;
    float: right;
  }
}

.toggle-menu, .title {
  display: inline-block;
  font-weight: 500;
}

.title {
  a {
    font-size: 16px;
  }

  li + & > a {

    padding-left: 6px;
  }
}

//nav.sidebar-menu {
//  .title, #toggle-menu .icon{
//    display: inline-block;
//    * {
//      color: #757575 !important;
//    }
//  }
//}

/*TITULO*/
.menu-main > li.title {
  // padding-left: 10px;
  width: 160px;
  text-align: left;

  @media screen and (max-width: 768px) {
    width: auto;
  }

  &:hover a {
    color: white;
  }

  span.page-title {
    display: block;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

.menu-main .icon {
  top: 0;
  text-align: center;
  display: inline-block;
  height: $height-menu;
  width: $height-menu;
  line-height: $height-menu;
  font-size: 1.6em;

  &.icon-menu {
    cursor: pointer;
    //font-size: 2em;
    &:hover {
      background-color: rgba(255, 255, 255, 0.16);
    }
  }

  &.menu-down {
    font-size: 1.1em;
    height: $height-sidebar-menu-item;
    width: $height-sidebar-menu-item;
    float: right;
    transform: rotate(-90deg);
    transition: all .3s ease;
  }
}

/**********************************
* TOGGLE MENU
***********************************/

.sidebar-menu {
  position: fixed;
  //top: 60px;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 60px;
  background-color: #F7F7F7;
  transform: translateX(-60px);
  transition: transform 0.3s, width 0.3s;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  background: $color2;
  z-index: 200;

  &.open-part {
    border-right: 1px solid $color4;

    li.active {
      background-color: #f7f7f7;
      a {
        &::before {
          content: '';
          box-shadow: none;
        }
      }
    }
  }

  .scroller {
    position: absolute;
    overflow-y: auto;
    width: $width-sidebar-menu;
    height: 100%;
  }
}

.menu-main > li > .breadcrumb {
  padding: 0 10px;
  margin: 0;

  li {
    font-weight: 300;
    a {
      font-size: 14px;
      display: inline;
    }

    &:last-child {
      font-size: 16px;
    }
  }
}

/**********************************
* MENU
***********************************/
.sidebar-menu {
  .menu {

    margin: 0 auto;
    width: 100%;
    //padding-top: 16px;

    a, i, span {
      color: #757575;
      font-weight: 500;
    }

    > li {
      line-height: $height-sidebar-menu-item;
      text-align: left;
      display: block;

      a {
        width: 100%;
        transition: all .3s ease;

        &:hover {
          background-color: rgba(245, 245, 245, 0.32);
        }
      }

      &.active {
        > a {
          &::before {
            content: '';
            width: 100%;
            height: $height-sidebar-menu-item;
            position: absolute;
            left: 0;
            //box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.12)
          }

          .icon.menu-down {
            transform: rotate(0deg);
          }
        }

        ul.sub-menu {
          display: none;
        }
      }
    }
  }
}

li {
  ul.sub-menu {
    display: none;
  }
}

ul.sub-menu {
  display: none;
  height: auto;
  transition: all 4s ease;

  li {
    display: block;
    line-height: $height-sidebar-menu-item - 20;

    a {
      font-weight: 400 !important;
      font-size: 12px;
      padding-left: $height-sidebar-menu-item;
    }
    &.active {
      background-color: #f5f5f5;
    }

    &:hover > a {
      background-color: rgba(245, 245, 245, 0.32);
      color: #777;
    }

  }

}

/**********************************
* ICONOS DE  NOTIFICACION EN MAIN-MENU
**********************************/

.notification-icon .icon {
  @media screen and (max-width: 422px) {
    width: 45px;
    // font-size: 10px;
  }
}

.notification-icon {

  display: inline-block;

  > a {
    display: inline-block;
    @media screen and (max-width: 768px) {
      border-right: none;
    }
    &:last-child {
      border-right: none;
    }
    &:hover {
      color: $color2;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.notification-icon .icon-option {
  display: none;
  @media screen and (max-width: 768px) {
    display: inline-block;
  }
}

.notification-icon .icon-hidden {
  @media screen and (max-width: 768px) {
    display: none;
  }
}


.user-profile{

  &-img{
      display: inline-block;
      background-color: #9C27B0;
      width: 30px;
      height: 30px;
      border-radius: 50%;
/*       margin-right: 10px; */
      text-align: center;
      line-height: 30px;
      color: #fff;
      font-size: 12px;
  }
}

/**********************************
* CONTAINER WRAPPER
***********************************/
.container-wrapper, .__containerheader {
  //margin-left: 60px;
  transition: transform 0.3s, margin 0.3s;
}

.container-wrapper {
  width: 100%;
  position: relative;
  padding: 0px 0px 10px;
  margin-top: 60px;
  margin-bottom: 60px;

  @media screen and (max-width: 768px) {
    //padding-top: 5px;
  }
}

@media (min-width: 669px) and (max-width: 1024px) {

  .sidebar-menu {
    width: 60px;
    transform: translateX(0px);

    .sub-menu {
      display: none;
    }
  }

  .sidebar-menu.open-part {
    width: $width-sidebar-menu;
    transform: translateX(0px);

    .sub-menu {
      display: none;
    }

    li.active{
      .sub-menu{
        display: none;
      }
    }
  }

  .container-wrapper,
  .container-wrapper.open-part {
    margin-left: 60px;

    .headboard {
      .navbar-btn.menu-fixed {

        width: calc(100% - 60px); // 100% - 60PX
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .sidebar-menu {
    width: $width-sidebar-menu;
    transform: translateX(0px);

    ul.sub-menu {
      display: none;
    }
  }

  .sidebar-menu.open-part {
    width: 60px;
    transform: translateX(0px);

    ul.sub-menu {
      display: none;
    }
  }

  .container-wrapper {
    margin-left: 60px;

    .headboard {
      .navbar-btn.menu-fixed {

        width: calc(100% - 60px); // 100% - 60PX
      }
    }

    &.open-part {
      margin-left: $width-sidebar-menu;

      .headboard {
        .navbar-btn.menu-fixed {

          width: calc(100% - 220px); // 100% - $width-sidebar-menu
        }
      }
    }
  }

}

@media screen and (max-width: 668px) {
  .sidebar-menu,
  .sidebar-menu .scroller {
    transform: translateX(0px);
    width: 0;
  }

  .sidebar-menu.open-part,
  .sidebar-menu.open-part .scroller {
    width: $width-sidebar-menu;
    ul.sub-menu {
      display: block;
    }
  }

  .headboard {
    .navbar-btn.menu-fixed {
      width: 100%; // 100%
    }
  }
}

@media screen and (max-width: 422px) {
  .sidebar-menu.open-part,
  .sidebar-menu.open-part .scroller {
    width: 100%;
    ul.sub-menu {
      display: block;
    }
  }
}

/*END MENU*/

/**********************************
* MENU OPTION
***********************************/

.open .x-menu-option,
.modal .x-menu-option {
  box-shadow: 1px 1px 12px rgba(0, 0, 0, .5);
  display: flex !important;
  //list-style: none;
  margin: 0 auto;
  padding: .5em;
  text-decoration: none;
  z-index: 10 !important;
  li {
    flex: auto;
    height: auto;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    width: 62px;
  }
}

.x-menu-option-2 {
  display: flex !important;
  //list-style: none;
  padding: 0px !important;
  margin: 0px;
  li {
    margin-right: 5px;
  }
}

.search-bar form,
.search-bar input[type=text] {
  background-color: darken($background-color-menu, 4);
}

.search-bar {
  box-sizing: border-box;
  // margin-left: 20px;
  width: 450px;
  float: left;
  display: none;
  form {
    margin: 5px;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }

  input {
    margin-top: 5px;
    width: calc(100% - 60px);
    height: 40px;
    line-height: 40px;
    border: none;
    font-size: 1.3em;
    color: white;
    font-weight: 300;

    /* PLACEHOLDERS */
    /* Chrome/Opera/Safari/Edge */
    &::-webkit-input-placeholder {
      color: rgba(245, 245, 245, 0.69) !important;
    }

    /* Firefox 18- */
    &::-moz-placeholder {
      color: rgba(245, 245, 245, 0.69) !important;
    }

    /* IE 10+ */
    &:-ms-input-placeholder {
      color: rgba(245, 245, 245, 0.69) !important;
    }
  }

  i.control-cancel,
  i.control-search,
  i.control-back {
    min-width: $height-sidebar-menu-item !important;
    line-height: $height-sidebar-menu-item;
    cursor: default;
    font-size: 20px;
    font-weight: bold;

  }

  i.control-cancel {
    visibility: hidden;
    z-index: 2000;
  }
  i.control-back {
    display: none;
  }

  @media screen and (max-width: 768px) {
    display: none;
    position: absolute;
    width: 100%;
    margin: 0;
    box-shadow: 0 10px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);

    i {
      font-size: 30px;

    }
    i.control-back {
      display: block;
    }
    i.control-search {
      display: none;
    }
  }

  @media screen and (min-width: 769px) {
    display: block;
  }

}

.icon#search-bar-alter {
  display: none;
  @media screen and (max-width: 768px) {
    display: inline-block;
  }
}



