
// 	.modal {
// 		text-align: center;
// 		padding: 0!important;
// 	}

// @media screen and (max-width: 768px) { 

// 	.modal:before {
// 		content: '';
// 		display: inline-block;
// 		height: 100%;
// 		vertical-align: middle;
// 		margin-right: -4px;
// 	}

// }
// 	.modal-dialog {
// 		display: inline-block;
// 		text-align: left;
// 		vertical-align: middle;
// 	}