header .panel {
	border: none !important;
	border-radius: 0px !important;
	background-color: $color4 !important;
	color: $boulder !important;
}

.x-panel {
	.panel-heading {
		border-bottom: 2px solid $athens-gray;
		display: flex;
		padding: 1px 15px;
		background-color: #fff !important;
		color: #607D8B;
		div:nth-child(n) {
			padding-left: 0px !important;
			padding-right: 0px !important;
		}
		div:last-child {
			line-height: 55px;
			text-align: right;
		}
	}
	.panel-footer {
		background-color: #fff;
		border-top: 1px solid $athens-gray;
		margin-top: 10px;
		padding: 10px 15px;
        // text-align: right;
        width: 100%;
    }
}

// .panel_toolbox {
// 	float: right;
// 	margin-top: 10px;
// 	min-width: 70px;
// 	padding: 0 15px;
// 	li {
// 		float: left;
// 		cursor: pointer;
// 		margin-left: 5px;
// 		a {
// 			width: 40px;
// 			height: 40px;
// 			padding: 5px;
// 			color: #C5C7CB;
// 			font-size: 14px;
// 			text-align: center;
// 			line-height: 30px;
// 			:hover {
// 				background: #F5F7FA;
// 			}
// 		}
// 	}
// }

.panel.__panel {
	position: relative;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	display: inline-block;
	background: #fff;
	border: 1px solid #E6E9ED;
	height: auto;
	.panel-heading {
		border-bottom: 2px solid #E6E9ED;
		padding: 1px 5px 6px;
		margin-bottom: 10px;
		h2,
		h3 {
			margin: 0px !important;
			line-height: 1.5;
			color: $title-color;
			display: inline-block;
			font-size: 1.5em;
		}
		small {
			color: $subtitle-color;
			margin-left: 10px;
			font-size: 1em;
		}
	}

	.panel-body {
		padding: 0 5px 6px;
		position: relative;
		width: 100%;
		float: left;
		margin-top: 5px;
	}

	.panel-footer{

	}
}


.panel{

	.panel_toolbox{
		float: right;
		list-style: none;
		line-height: 50px;
		> li {
			float: left;
			cursor: pointer;

			> a {
				width: 50px;
				height: 50px;
				padding: 5px;
				color: #C5C7CB;
				font-size: 18px;
				text-align: center;
				line-height: 30px;

				&:hover {
					background: #F5F7FA;
				}

			}
		}
	}
}


// .panel_toolbox {
//   float: right;
//   min-width: 70px;
// }
// .panel_toolbox>li {
//   float: left;
//   cursor: pointer;
// }
// .panel_toolbox>li>a {
//   padding: 5px;
//   color: #C5C7CB;
//   font-size: 14px;
// }
// .panel_toolbox>li>a:hover {
//   background: #F5F7FA;
// }

//.__panel {
//    &.default,
//    &.primary {
//        padding: 0px;
//        .__panel-heading {
//            line-height: 3.5;
//            padding: 0 15px;
//        }
//    }
//    &.primary {
//        .__panel-heading {
//            color: $color3;
//            background-color: lighten($color3, 60%);
//            border-color: lighten($color3, 40%);
//        }
//    }
//}


.panel .panel-heading{
	/* Actions */
	.actions {
		float: right;
		display: inline-block;
	}

	.actions a {
		margin-left: 3px;
	}

	.actions .btn {
		// color: #666;
		padding: 3px 9px;
		font-size: 13px;
		line-height: 1.5;
		background-color: #fff;
		border: 1px solid;
		border-radius: 50px;
	}

	.actions .btn i {
		font-size: 12px;
	}

	.actions .btn:hover {
		background: #f2f2f2;
	}
}


/* Btn Circle */
.actions .btn.btn-circle {
	width: 28px;
	height: 28px;
	padding: 3px 7px;
	text-align: center;
}

.panel > .panel-heading{

//.x_panel {
//  position: relative;
//  width: 100%;
//  margin-bottom: 10px;
//  padding: 10px 17px;
//  display: inline-block;
//  background: #fff;
//  border: 1px solid #E6E9ED;
//  -webkit-column-break-inside: avoid;
//  -moz-column-break-inside: avoid;
//  column-break-inside: avoid;
//  opacity: 1;
//  -moz-transition: all .2s ease;
//  -o-transition: all .2s ease;
//  -webkit-transition: all .2s ease;
//  -ms-transition: all .2s ease;
//  transition: all .2s ease;
//}
.title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
  margin-bottom: 10px;
}
.title .filter {
  width: 40%;
  float: right;
}
.title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.title h2 small {
  margin-left: 10px;
}
.title span {
  color: #BDBDBD;
}
//.x_content {
//  padding: 0 5px 6px;
//  position: relative;
//  width: 100%;
//  float: left;
//  clear: both;
//  margin-top: 5px;
//}
//.x_content h4 {
//  font-size: 16px;
//  font-weight: 500;
//}
//legend {
//  padding-bottom: 7px;
//}
//.modal-title {
//  margin: 0;
//  line-height: 1.42857143;
//}
//.demo-placeholder {
//  height: 280px;
//}
}



.bg-default{
  background-color: #f5f5f5;
}