
/* Bootstrap */ 

.nav.nav-x{
	background-color: #fff; 
	border-bottom: 0;
	min-height: 50vh;

	li a{
		color: #777 !important;
	}
}




.nav.tabs-default{
	background-color: transparent;
	border-bottom: 0;
	li a{
		border-radius: 0 ;
		color: #777 !important;
	}
	li:hover a {
		background-color: #eeeeee !important
	}
}


@keyframes animatebottom {
	from{
		bottom:-300px;
		opacity:0
	} 
	to{
		bottom:0;
		opacity:1
	}
}

ul.tab-control-bottom{
	@media screen and (max-width: 480px ){
		background-color: #777 !important;
		bottom: 0;
		display: flex;
		flex-wrap: wrap;
		height: 60px;
		left:0;
		list-style: none;
		margin: 0;
		padding:5px;
		position: fixed;
		width: 100%;
		z-index: 2;
		animation: animatebottom .3s;

		li:first-child:hover{
			a{
				background-color: transparent;
			}
		}

		li:nth-child(1n+2):hover{
			a{
				color: #777 !important;
			}
		}

		a{
			border-radius: 0px !important;
			color: #f5f5f5 !important;
			font-size: 1.2em;
			line-height: 30px;
			margin: 0;
		}
	}
}
