
.__widgets {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  @media (max-width: 991px) {
    flex-wrap: wrap;
  }
}

.__widgets.__charts {
  background-color: white;
  .__tile {
    margin: 0;
    padding: .5em 1em;
  }
}

.__widgets .__tile {
  background-color: white;
  font-size: 1.2em;
  margin-right: 10px;
  padding: .5em 3em .5em 1.3em;
  position: relative;
  width: 25%;
  &:last-child {
    margin-right: 0;
  }
  @media screen and (max-width: 991px) {
    margin-right: 0px;
    margin-bottom: 10px;
    width: 47%;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
  @media (max-width: 480px) {
    width: 100%;
  }
}

.__widgets .__tile {
  .icon {
    color: #BAB8B8;
    font-size: 4em;
    position: absolute;
    right: .3em;
    z-index: 1;
    i {
      display: block;
    }
  }
  .count {
    font-size: 3em;
    font-weight: bold;
  }
  .count,
  h3,
  p {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 5;
  }
}

.chart-legend {
  margin-top: 10px;
  display: inline-block;
  li {
    list-style: none;
    margin-left: 20px;
    span {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 5px;
    }
  }
}

/*MINIGRAFICOS*/
.sparkline {
  width: 100%;
  display: block;
  overflow-x: hidden;
  canvas {
    float: right;
  }
}

/* PROFILE */
.profile {
  width: 100%;
  h4 {
    font-size: 2em;
  }
  ul li {
    list-style: none;
    margin-bottom: 5px;
    span {
      margin-right: 5px;
    }
  }
}

.__container-flex-grid {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .__item-flex-grid {
    background-color: #fff;
    width: calc((100%) / 1);
    flex: none;
    padding: .5em;
    margin-bottom: 5px;
    min-height: 100px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);

    @media screen and (min-width: 480px) {
      width: calc((100% - 10px) / 2);
      margin-bottom: 10px;
    }

    @media screen and (min-width: 768px) {
      width: calc((100% - 20px) / 3);
      margin-bottom: 10px;
    }

    @media screen and (min-width: 1024px) {
      width: calc((100% - 30px) / 4);
      margin-bottom: 10px;
    }

  }
}

.__select-data-content {
  .__heading {
    .__title {
      font-weight: bold;
    }
  }

  .__heading, .__body {
    white-space: normal;
  }

  .__body {
    font-size: .8em;
    // font-weight: 100;
  }
}

/* RIBBON  */
.ribbon-container {
  position: relative;
}

.ribbon-container .ribbon-wrapper {
  position: absolute;
  overflow: hidden;
  width: 85px;
  height: 88px;
  top: -3px;
  right: -3px;
}

.ribbon-container.ribbon-primary .ribbon {
  background-color: #5b90bf;
}

.ribbon-container .ribbon {
  position: relative;
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  line-height: 20px;
  background-color: #555;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

.ribbon-container.ribbon-primary .ribbon:after, .ribbon-container.ribbon-primary .ribbon:before {
  border-top: 2px solid #5b90bf;
}

.ribbon-container .ribbon:before {
  left: 0;
  bottom: -1px;
}

.ribbon-container .ribbon:before {
  right: 0;
}

.ribbon-container .ribbon:after, .ribbon-container .ribbon:before {
  position: absolute;
  content: " ";
  line-height: 0;
  border-top: 2px solid #555;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

ul.msg_list li {
  background: #f7f7f7;
  padding: 5px;
  display: flex;
  margin: 6px 6px 0;
  width: 96% !important;
}

ul.msg_list li:last-child {
  margin-bottom: 6px;
  padding: 10px;
}

ul.msg_list li a {
  padding: 3px 5px !important;
}

ul.msg_list li a .image img {
  border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  float: left;
  margin-right: 10px;
  width: 11%;
}

ul.msg_list li a .time {
  font-size: 11px;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  right: 35px;
}

ul.msg_list li a .message {
  display: block !important;
  font-size: 11px;
}

// .dropdown-menu.msg_list span {
//   white-space: normal;
// }
// .dropdown-menu {
//   border: medium none;
//   box-shadow: none;
//   display: none;
//   float: left;
//   font-size: 12px;
//   left: 0;
//   list-style: none outside none;
//   padding: 0;
//   position: absolute;
//   text-shadow: none;
//   top: 100%;
//   z-index: 1000;
//   border: 1px solid #D9DEE4;
//   border-top-left-radius: 0;
//   border-top-right-radius: 0;

// }
// .dropdown-menu>li>a {
//   color: #5A738E;
// }
// .navbar-nav .open .dropdown-menu {
//   position: absolute;
//   background: #fff;
//   margin-top: 0;
//   border: 1px solid #D9DEE4;
//   -webkit-box-shadow: none;
//   right: 0;
//   left: auto;
//   width: 220px;
// }
// .navbar-nav .open .dropdown-menu.msg_list {
//   width: 300px;
// }
.info-number .badge {
  font-size: 10px;
  font-weight: normal;
  line-height: 13px;
  padding: 2px 6px;
  position: absolute;
  right: 2px;
  top: 8px;
}

ul.to_do {
  padding: 0;
}

ul.to_do li {
  background: #f3f3f3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  padding: 7px;
  margin-bottom: 5px;
  list-style: none;
}

ul.to_do p {
  margin: 0;
}

.dashboard-widget {
  background: #f6f6f6;
  border-top: 5px solid #79C3DF;
  border-radius: 3px;
  padding: 5px 10px 10px;
}

.dashboard-widget .dashboard-widget-title {
  font-weight: normal;
  border-bottom: 1px solid #c1cdcd;
  margin: 0 0 10px 0;
  padding-bottom: 5px;
  padding-left: 40px;
  line-height: 30px;
}

.dashboard-widget .dashboard-widget-title i {
  font-size: 100%;
  margin-left: -35px;
  margin-right: 10px;
  color: #33a1c9;
  padding: 3px 6px;
  border: 1px solid #abd9ea;
  border-radius: 5px;
  background: #fff;
}

ul.quick-list {
  width: 45%;
  padding-left: 0;
  display: inline-block;
}

ul.quick-list li {
  padding-left: 10px;
  list-style: none;
  margin: 0;
  padding-bottom: 6px;
  padding-top: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

ul.quick-list li i {
  padding-right: 10px;
  color: #757679;
}

.dashboard-widget-content {
  padding-top: 9px;
}

.dashboard-widget-content .sidebar-widget {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  background: #fff;
  border: 1px solid #abd9ea;
  border-radius: 5px;
  text-align: center;
  float: right;
  padding: 2px;
  margin-top: 10px;
}

.widget_summary {
  width: 100%;
  display: inline-flex;
}

.widget_summary .w_left {
  float: left;
  text-align: left;
}

.widget_summary .w_center {
  float: left;
}

.widget_summary .w_right {
  float: left;
  text-align: right;
}

.widget_summary .w_right span {
  font-size: 20px;
}

.w_20 {
  width: 20%
}

.w_25 {
  width: 25%
}

.w_55 {
  width: 55%
}

h5.graph_title {
  text-align: left;
  margin-left: 10px
}

h5.graph_title i {
  margin-right: 10px;
  font-size: 17px
}

span.right {
  float: right;
  font-size: 14px !important
}

.tile_info a {
  text-overflow: ellipsis;
}

.sidebar-footer {
  bottom: 0px;
  clear: both;
  display: block;
  padding: 5px 0 0 0;
  position: fixed;
  width: 230px;
  z-index: 1000;
  background: #2A3F54;
}

.sidebar-footer a {
  padding: 7px 0 3px;
  text-align: center;
  width: 25%;
  font-size: 17px;
  display: block;
  float: left;
  background: #172D44;
}

.sidebar-footer a:hover {
  background: #425567;
}

.tile_count {
  margin-bottom: 20px;
  margin-top: 20px;
}

.tile_count div:first-child .left {
  border: 0;
}

.tile_count .tile_stats_count {
  border-left: 0px solid #333;
  padding: 0;
}

.tile_stats_count .left {
  width: 15%;
  float: left;
  height: 65px;
  border-left: 2px solid #ADB2B5;
  margin-top: 10px;
}

.tile_stats_count .right {
  padding-left: 10px;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tile_stats_count .right span {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tile_stats_count .count {
  font-size: 40px;
  line-height: 47px;
  font-weight: 600;
}

.tile_stats_count .count small {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
}

.count_bottom i {
  width: 12px;
}

.dashboard_graph {
  background: #fff;
  padding: 7px 10px;
}

.dashboard_graph .col-md-9, .dashboard_graph .col-md-3 {
  padding: 0;
}

a.user-profile {
  color: #5E6974 !important;
}

.user-profile img {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  margin-right: 10px;
}

ul.top_profiles {
  height: 330px;
  width: 100%;
}

ul.top_profiles li {
  margin: 0;
  padding: 3px 5px;
}

ul.top_profiles li:nth-child(odd) {
  background-color: #eee;
}

.media .profile_thumb {
  border: 1px solid;
  width: 50px;
  height: 50px;
  margin: 5px 10px 5px 0;
  border-radius: 50%;
  padding: 9px 12px;
}

.media .profile_thumb i {
  font-size: 30px;
}

.media .date {
  background: #ccc;
  width: 52px;
  margin-right: 10px;
  border-radius: 10px;
  padding: 5px;
}

.media .date .month {
  margin: 0;
  text-align: center;
  color: #fff;
}

.media .date .day {
  text-align: center;
  color: #fff;
  font-size: 27px;
  margin: 0;
  line-height: 27px;
  font-weight: bold;
}

.event .media-body a.title {
  font-weight: bold;
}

.event .media-body p {
  margin-bottom: 0;
}

h4.graph_title {
  margin: 7px;
  text-align: center;
}

/**
 * CONTACT CHIP
 */
.contact-chip {

  display: inline-block;
  padding: 0;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  margin: 0 2px 2px 0;
  max-width: 500px;

  &-img {

    display: inline-block;
    background-color: #9E9E9E;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: #fff;
    float: left;

    &.contact-chip-role {
      &-superadmin {
        background-color: #00a9e0; // celeste
      }
      &-admin {
        background-color: #954B97; // morado
      }
      &-editor {
        background-color: #5bc500; // verde
      }
      &-user {
        background-color: #e9426d; // fucsia
      }

    }
  }
  &-body {
    text-align: left;
    padding: 5px;
    position: relative;
    height: auto;
    width: auto;
    line-height: normal;
    margin-left: 50px;

    .contact-title{
      font-weight: bold;
    }

    .contact-time {
      margin-top: 3px;
      display: block;
      font-size: 12px;
      i {
        font-size: 12px;
      }
    }
    .contact-username{
      line-height: 50px;
    }
  }

  &-sm {

    height: auto;

    .contact-chip-img {
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 12px;
    }

    .contact-chip-body {
      padding: 0 5px;
      margin-left: 30px;
      height: 30px;
      display: block;

     .contact-time {
        margin-top: 3px;
        font-size: 10px;
       display: block;
       height: auto;
        i {
          font-size: 10px;
        }
      }

      .contact-username{
        line-height: 30px;
      }
    }
  }

}

/****
 *
 */

ul.stats-overview {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
  margin-bottom: 10px;

  display: flex;
  justify-content: center;

}

ul.stats-overview li {
  display: inline-block;
  text-align: center;
  padding: 0 15px;
  width: 100%;
  font-size: 14px;
  border-right: 1px solid #e8e8e8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

ul.stats-overview li:last-child {
  border-right: 0;
}

ul.stats-overview li .name {
  font-size: 12px;
}

ul.stats-overview li .value {
  font-size: 14px;
  font-weight: bold;
  display: block;
}

ul.stats-overview li:first-child {
  padding-left: 0;
}

ul.project_files li {
  margin-bottom: 5px;
}

ul.project_files li a i {
  width: 20px;
}

p.title {
  font-weight: bold;
  margin-bottom: 0;
}

span.date {
  font-size: 12px;
  &, & i {
    line-height: 12px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 300;
    color: #777777;
  }
  & i {
    font-size: 12.8px;
  }
}

/**
  * Steps State
  */
.step-state {
  padding: 0px;
  background: #eee;
  list-style: none;
  overflow: hidden;
  margin: 0;
  float: right;

  & > li + li:before {
    padding: 0;
  }

  li {
    float: left;

    @media screen and (max-width: 668px) {
      display: none;

      &.active {
        display: block;
        float: right;
        padding-right: 30px;
      }
    }

    &.active a {
      background: #9E9E9E;
      color: #fff;
    }

    &.active a:after {
      border-left: 30px solid #9E9E9E;
    }

    a {
      color: #9e9e9e;
      cursor: default;
      text-decoration: none;
      padding: 10px 5px 10px 45px;
      position: relative;
      display: block;
      float: left;

      &:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
        border-bottom: 50px solid transparent;
        border-left: 30px solid #eee;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: 100%;
        z-index: 2;
      }

      &:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
        border-bottom: 50px solid transparent;
        border-left: 30px solid #ffffff;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        margin-left: 1px;
        left: 100%;
        z-index: 1;
      }
    }

    &:first-child {
      a {
        width: 0px;
        padding-left: 0px;
        padding-right: 0px;

        &:after {
          border-left-color: #eee !important;
        }
      }
    }

    &:last-child a {
      padding-right: 0px;
      padding-left: 30px;
      background-color: #eee !important;
    }
  }
}





















