<template id="article_row">
    <tr>
        <template v-if="! editing">
            <td>{{ article_description }}
                <input type="hidden" class="name_handler" name="items[][article_id]" v-model:articles="article.article_id">
            </td>

            <td style="text-align: center">{{ article.quantity }}
                <input type="hidden" class="name_handler" name="items[][quantity]" v-model:articles="article.quantity">
            </td>

            <td width="40">
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn" @click="edit()">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="button" class="btn btn-danger" @click="remove()">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </td>
        </template>

        <template v-else>
            <td>
                <select-article v-bind:article_list="article_list"
                                v-bind:article="draft"
                                v-bind:errors="errors"
                                v-bind:class="{'has-error': errors.article_id}"></select-article>
            </td>

            <td>
                <quantity-article v-bind:article="draft"
                                  v-bind:errors="errors"
                                  v-bind:class="{'has-error': errors.quantity}"></quantity-article>
            </td>

            <td width="40">
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-success" @click="update()">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" class="btn btn-danger" @click="cancel()">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </td>

        </template>

    </tr>
</template>


<script type="text/babel">

    var utils = require('../../utilities');

    export default{
        // template: "#article_row",
        props: ['article', 'article_list'],
        data: function () {
            return {
                editing: false,
                errors: [],
                draft: [{
                    article_id: '',
                    quantity: '',
                    stock: ''
                }]
            }
        },

        computed: {

            article_description: function () {

                var article = utils.findById(this.article_list, this.article.article_id);

                return article != null ? article.article : '';
            }
        },

        methods: {
            edit: function () {
                this.errors = [];

                // Clone the article object in a draft object
                this.draft = JSON.parse(JSON.stringify(this.article));

                // Vue.set(article, 'editing', true);
                this.editing = true;
            },

            cancel: function () {
                this.editing = false;
            },

            update: function () {
                this.errors = [];

                this.$emit('update-article', this);
            },

            remove: function () {

                this.$emit('remove-article', this.article);
            }
        }
    }
</script>