<template id="quantity_article">
    <span>


        <span class="input-group">

            <input type="text" class="form-control" placeholder="Cantidad a transferir" v-model:articles="article.quantity">
            <span class="input-group-addon" id="basic-addon1">En stock {{ article.stock }}</span>
        </span>
        <input type="hidden" v-model:articles="article.stock">

        <p class="help-block text-danger" v-if="errors.quantity">{{ errors.quantity }}
        </p>
    </span>
</template>


<script type="text/babel">
    export default {
        // template: "#quantity_article",
        props: ['article', 'errors'],
    }
</script>