<template id="select_article">
    <span>

        <select v-model:articles="article.article_id" class="form-control" v-on:change.prevent="stock()">

            <option value="">Selcciona un articulo de la lista</option>

            <option v-for="articlelist in article_list"
                    :value="articlelist.id">{{ articlelist.description }}
            </option>
        </select>

        <p class="help-block text-danger" v-if="errors.article_id">{{ errors.article_id }}
        </p>

    </span>

</template>


<script type="text/babel">
    var utils = require('../../utilities');

    export default {
        // template: "#select_article",
        props: ['article_list', 'article', 'errors'],
        methods: {
            stock: function () {

                var article = utils.findById(this.article_list, this.article.article_id);

               this.$parent.add_article.stock =  article != null ? article.stock : '';
            }
        }
    }
</script>